:root {
  --primary-color: #311b92;
  --primary-background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --secondary-color: #0077ff;
  --tertiary-color: #999;
  --white: #fff;
  --dark: #182848;
}

img {
  width: 2em;
  height: 2em;
}

header {
  display: flex;
  justify-content: center;
  background: var(--primary-background);
  color: var(--white);
}

header h1 {
  font-size: 2rem;
  padding: 1rem;
}

#content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#content #search {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#content #search #search-form {
  display: flex;
  flex-direction: column;
}

#content #search #search-form #search-input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

#content #search #search-form #search-button {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  border-radius: 0.25rem;
}

#content #search #search-history {
  border-top: solid var(--tertiary-color) 1px;
  text-align: center;
}

#search-history-list {
  display: flex;
  flex-direction: column;
}

.search-history-button {
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: var(--dark);
  border: none;
  border-radius: 0.25rem;
  color: var(--white);
}

#content #current-weather {
  flex: 1;
  margin: 1rem;
}

#content #current-weather #current-weather-content {
  border: 1px var(--tertiary-color) solid;
  display: flex;
  flex-direction: column;
}

#content #current-weather #current-weather-content #current-weather-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0.5rem;
}

#content
  #current-weather
  #current-weather-content
  #current-weather-header
  #current-weather-icon {
  align-self: center;
}

#content
  #current-weather
  #current-weather-content
  #current-weather-header
  #current-weather-date {
  padding: 0 0.5rem;
}

#content #current-weather #current-weather-content #current-weather-data {
  padding: 0 0.5rem;
}

#forecast-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#forecast-cards .forecast-card {
  flex: 1;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--white);
  padding: 0.5rem;
}

#forecast-cards .forecast-card:first-child {
  margin-left: 0;
}

#forecast-cards .forecast-card:last-child {
  margin-right: 0;
}

#forecast-cards .forecast-card h4 {
  margin: 0;
}

#forecast-cards .forecast-card #forecast-weather-icon {
  padding: 0.5rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
